.text-justify {
  text-align: justify;
}

iframe {
  max-width: 100%;
  height: 900px;
}

.btn-invite-form {
  background-color: #FBFFF5 !important;
  color: black !important;
  border: 1px solid #1A1C15 !important;
  border-radius: 5px !important;
  padding: 10px 20px !important;
  font-size: 15px !important;
  cursor: pointer !important;
  text-align: center !important;
  text-decoration: none !important;
  width: 240px;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

.btn-invite-form:hover {
  background-color: #1A1C15 !important;
  color: #AAC86F !important;
}
