.content-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.text-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

.text-content {
  flex: 1;
  max-width: 600px;
  text-align: justify;
  letter-spacing: -1px;
  margin-right: 200px;
}

.text-title {
  margin-bottom: 1rem;
  letter-spacing: .2rem;
}

.image-content {
  flex-shrink: 0;
  transform: translateY(-135px);
  margin-left: 50px;
}

.image {
  max-width: 100%;
  height: auto;
}
