.btn-indexproduct {
  // background-color: #1A1C15 !important;
  color: black !important;
  border: 1px solid #1A1C15 !important;
  border-radius: 5px !important;
  padding: 7px 15px !important;
  font-size: 15px !important;
  cursor: pointer !important;
  text-align: center !important;
  text-decoration: none !important;
  width: 340px;
}

.btn-indexproduct:hover {
  background-color: #1A1C15 !important;
  color: #8ab348 !important;
}

.btn-indexproduct:hover {
  background-color: #1A1C15 !important;
  color: #8ab348 !important;
}

@media (max-width: 576px) {
  .btn-indexproduct {
    margin-bottom: 0; /* Remove a margem inferior para evitar espaço extra entre os botões em dispositivos móveis */
    margin-top: 10px;
  }
}
