.photo-field {
  margin-bottom: 10px;
}

#add-photo-field {
  margin-top: 10px;
}

.btn-new-product {
  background-color: #FBFFF5 !important;
  color: black !important;
  border: 1px solid #1A1C15 !important;
  border-radius: 5px !important;
  padding: 7px 15px !important;
  font-size: 15px !important;
  cursor: pointer !important;
  text-align: center !important;
  text-decoration: none !important;
  width: 240px;

}

.border-green {
  border-color: #BED690 !important;
  background-color: #E8EDDF;
}

.input-photo {
  background-color: #E8EDDF;
  border-color: #BED690 !important;

}

.campo-input {
  border: 2px solid #0c0ce0 !important;
}

.backgroud-input{
  background-color: #E8EDDF;
}