.content-container-2 {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  min-height: 100vh; /* Altura mínima da viewport */
  padding: 20px;
  box-sizing: border-box; /* Inclui padding e border na largura/altura */
}

.text-image-container-1 {
  display: flex;
  flex-direction: row; /* Alinha o texto e a imagem horizontalmente */
  align-items: center; /* Alinha verticalmente o texto e a imagem */
  gap: 50px; /* Ajuste o espaçamento entre o texto e a imagem */
  max-width: 1200px; /* Limita a largura total do contêiner */
  width: 100%; /* Permite que o contêiner ocupe a largura disponível */
  padding: 20px; /* Ajuste o padding para melhorar o espaçamento */
}

.text-content-1 {
  flex: 1; /* Permite que o texto ocupe o espaço disponível */
  max-width: 600px; /* Limita a largura do texto */
  text-align: justify;
  letter-spacing: -1px;
  margin-left: 90px;
}

.text-title-1 {
  margin-bottom: 1rem; /* Espaçamento abaixo do título */
  letter-spacing: .2rem; /* Espaçamento entre letras */
}

.image-content-1 {
  flex-shrink: 0; /* Impede que a imagem encolha */
  transform: translateY(-190px);
}

.image-1 {
  max-width: 100%; /* Garante que a imagem não exceda seu contêiner */
  height: auto; /* Mantém a proporção da imagem */
}
