/* Botões */
.btn-edit, .btn-voltar {
  color: black !important;
  border: 1px solid #1A1C15 !important;
  border-radius: 5px !important;
  padding: 7px 15px !important;
  font-size: 15px !important;
  cursor: pointer !important;
  text-align: center !important;
  text-decoration: none !important;
  display: block; /* Faz com que os botões se comportem como blocos em dispositivos móveis */
  width: 100%; /* Faz com que os botões ocupem a largura total disponível */
  box-sizing: border-box; /* Inclui padding e border na largura total */
  margin: 10px auto; /* Centraliza os botões e adiciona espaçamento */
}

.btn-edit:hover, .btn-voltar:hover {
  background-color: #1A1C15 !important;
  color: #8ab348 !important;
}

/* Botão de comprar */
.btn-comprar {
  background-color: #AAC86F;
  color: #1A1C15;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  width: 100%; /* Ajuste a largura desejada */
  box-sizing: border-box; /* Inclui o padding e a borda na largura total */
}

.btn-comprar:hover {
  background-color: #8ab348;
  color: #1A1C15;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box; /* Inclui o padding e a borda na largura total */
}

/* Container de botões */
.button-container {
  text-align: center;
  margin: 20px 0; /* Adiciona espaçamento superior e inferior */
}

/* Responsividade específica para a exibição do produto */
@media (max-width: 768px) {
  .responsive-d-flex {
    flex-direction: column; /* Alinha os elementos verticalmente */
  }

  .responsive-col {
    width: 100%; /* Faz com que as colunas ocupem a largura total disponível */
    margin-bottom: 20px; /* Adiciona espaçamento inferior */
  }

  .responsive-img-fluid {
    width: 100%; /* Faz com que as imagens ocupem a largura total disponível */
    height: auto; /* Ajusta a altura automaticamente */
    object-fit: cover;
  }

  .responsive-d-flex-mb {
    flex-direction: column; /* Empilha as fotos verticalmente em dispositivos móveis */
  }

  .product-card img {
    height: auto; /* Ajusta a altura da imagem para mantê-la responsiva */
    max-height: 300px; /* Limita a altura máxima da imagem */
    width: 100%; /* Faz com que a imagem ocupe toda a largura disponível do card */
  }
}

/* Adiciona margem inferior ao final das revisões */
.reviews {
  margin-bottom: 20px;
}
