.vitor {
    background-color: #AAC86F; /* Cor de fundo do botão de registro */
    color: #1A1C15; /* Cor do texto do botão de registro */
    border-radius: 5px; /* Leve arredondamento das bordas */
    padding: 8px 16px; /* Espaçamento interno do botão */
    font-size: 15px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para pointer quando passa sobre o botão */
    text-align: center; /* Alinha o texto no centro */
    text-decoration: none; /* Remove o sublinhado do texto */
  }
