<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 pt-5">
      <h6>PARCERIAS E INFORMAÇÕES</h6>
      <br>
      <h1 class="mb-4">Estamos aqui para te ajudar</h1>
      <p style="text-align: justify;">
        Problemas com pagamento e/ou entrega serão solucionados neste canal de contato. Por favor, seja o mais objetivo possível e deixe suas informações de contato.
      </p>
    </div>

    <div class="col-12 col-lg-6 pt-5">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfoAQhTYjhhlbM9ODJvczo9BK5OdtsTOYB2M_I5FTyO_IBzxg/viewform?embedded=true" width="640" height="646" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
    </div>
  </div>
</div>