<div class="container">
  <div class="row justify-content-center text-align">

    <div class="col-12 col-lg-6 pt-5">
      <h6 class="mb-2 mt-5">ESTRELA DA PLATAFORMA</h6>
      <h1 class="text-title mb-3">Beatriz e o seu desapego total</h1>
      <p>Lembro que eu estava em casa e me sentindo sufocada; parei no centro da sala, olhei ao redor e vi que estava com vários objetos no qual eu nem pegava mais pra tirar a poeira. Sentei no sofá, pesquisei por um site de caçamba (sim, eu ia alugar uma caçamba pra jogar tudo fora) e por coincidência o anúncio do Mercado Compra apareceu nas pesquisas do Google.<br><br>Fiz o meu cadastro na mesma hora pra conhecer a plataforma. No dia seguinte eu separei todas as bugigangas, tirei foto e hospedei no site com o seguinte título: “Tudo isso por R$1.365,00. Retirada no local”.<br><br>Não deu 5 minutos e a venda foi concluída! Combinei com o comprador de vir buscar na semana seguinte e montei uma mini academia em casa com o espaço e dinheiro que entrou.<br><br>Muito obrigado, Tony Stark, tua plataforma é boa demais.</p>
    </div>

    <div class="col-12 col-lg-6 pt-5">
      <%= image_tag "desapegados/Desapegados.png", class: "image" %>
    </div>

  </div>
</div>
