<div class="content-container-1">
  <h6 class="mb-2 mt-5">ESTRELA DA PLATAFORMA</h6>
  <h2 class="">Beatriz e o seu<br>desapego total</h2>
  <p class="ms-5">Lembro que eu estava em casa e me sentindo sufocada; parei no centro da sala, olhei ao redor e vi que estava com vários objetos no qual eu nem pegava mais pra tirar a poeira. Sentei no sofá, pesquisei por um site de caçamba (sim, eu ia alugar uma caçamba pra jogar tudo fora) e por coincidência o anúncio do Mercado Compra apareceu nas pesquisas do Google.
Fiz o meu cadastro na mesma hora pra conhecer a plataforma. No dia seguinte eu separei todas as bugigangas, tirei foto e hospedei no site com o seguinte título: “Tudo isso por R$1.365,00. Retirada no local”.
Não deu 5 minutos e a venda foi concluída! Combinei com o comprador de vir buscar na semana seguinte e montei uma mini academia em casa com o espaço e dinheiro que entrou.
Muito obrigado, Tony Stark, tua plataforma é boa demais.</p>
  <div class="text-right">
    <%= image_tag "home/Taxa de 1,5_.png", class: "ms-5 ps-5 mt-5" %>
    <br>
  </div>
</div>
