<div class="content-container-2">
  <div class="text-image-container-1">
    <div class="text-content-1">
      <h6 class="mb-2 mt-5">NOSSO SURGIMENTO</h6>
      <h2 class="text-title-1 mb-3">Entendo o<br>porquê tantas<br>pessoas nos <br>amam <strong>de graça</strong></h2>
      <p>O Mercado Compra surgiu a partir de uma ida ao mercadinho de rua (popularmente conhecido como feira de domingo), onde percebemos que os feirantes separavam as frutas com pequenos defeitos para vender por um valor muito abaixo, ou simplesmente doam para seus clientes. Muitas dessas frutas são consumidas na hora, mas alguns pequenos produtores as adquirem para utilizar como adubo em suas plantações.
<br><br>
Eu, Tony Stark, percebi que minha casa tinha muita bugiganga tecnológica que já estava em desuso. Não apenas aparelhos eletrônicos, mas até mesmo bicicletas (desde que construí minha armadura de ferro, nunca mais andei a pé).
<br><br>
Resolvi construir essa plataforma incrivelmente maravilhosa pra resolver isso, e as pessoas começaram a pedir para cadastrar seus produtos pessoais. Contratei uma equipe, coloquei uma taxa bem baixa e abri para para o povão. A ideia era ser epnas uma plataforma de desapego tecnológico, mas é possível renovar o seu guarda-roupa, por exemplo.
<br><br>
Agradeço aos feirantes por essa sacada genial das frutas machucadas. Sem essa ideia, nossa casa estaria cheia de bugigangas aposentadas.</p>
    </div>
    <div class="image-content-1 mt-5">
      <%= image_tag "quemsomos/TonyStark.png", class: "image-1" %>
    </div>
  </div>
</div>
