.navbar-lewagon {
  background: #E8EDDF;
}

.navbar-lewagon .container {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo do contêiner */
  align-items: center; /* Alinha verticalmente o conteúdo no centro */
  position: relative; /* Necessário para centralizar o conteúdo */
}

.navbar-lewagon .navbar-brand {
  margin-right: none; /* Espaço entre o logo e o menu */
}

.navbar-lewagon .navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centraliza o menu */
  flex-grow: 1; /* Permite que o menu use o espaço restante */
}

.navbar-lewagon .navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center; /* Alinha verticalmente os itens do menu */
  margin-bottom: 0; /* Remove a margem inferior padrão dos itens da lista */
  padding-left: 0; /* Remove o padding padrão da lista */
  padding-right: 0; /* Remove o padding padrão da lista */
  list-style: none; /* Remove os marcadores padrão */
}

.navbar-lewagon .nav-item {
  margin-left: 15px; /* Espaço entre os itens do menu */
}

.navbar-lewagon .nav-link {
  color: #1A1C15; /* Define a cor do texto do menu como branco */
  text-decoration: none; /* Remove o sublinhado dos links */
}

.navbar-lewagon .nav-link:hover {
  color: #AAC86F; /* Cor do texto ao passar o mouse sobre o item do menu */
}

.navbar-lewagon .btn-enter {
  // background-color: #1A1C15 !important;
  // color: white !important;
  border: 1px solid #1A1C15 !important;
  border-radius: 5px !important;
  padding: 7px 15px !important;
  font-size: 15px !important;
  cursor: pointer !important;
  text-align: center !important;
  text-decoration: none !important;
}

.navbar-lewagon .btn-enter:hover {
  background-color: #1A1C15 !important;
}

.navbar-lewagon .nav-item .btn-register {
  background-color: #AAC86F; /* Cor de fundo do botão de registro */
  color: #1A1C15; /* Cor do texto do botão de registro */
  border-radius: 5px; /* Leve arredondamento das bordas */
  padding: 8px 16px; /* Espaçamento interno do botão */
  font-size: 15px; /* Tamanho da fonte */
  cursor: pointer; /* Muda o cursor para pointer quando passa sobre o botão */
  text-align: center; /* Alinha o texto no centro */
  text-decoration: none; /* Remove o sublinhado do texto */
}

.navbar-lewagon .nav-item .btn-register:hover {
  background-color: #8ab348; /* Cor de fundo do botão de registro ao passar o mouse */
}

.navbar-lewagon .navbar-brand img {
  width: 60px; /* Ajuste o tamanho do logo conforme necessário */
  margin-left: 160px;
}

.navbar-lewagon .dropdown-menu.login-dropdown {
  background-color: #1A1C15; /* Cor de fundo do dropdown */
  color: #FBFFF5; /* Cor do texto do botão de registro */
  border: 1px solid #E8EDDF; /* Borda preta ao redor do dropdown */
  border-radius: 5px; /* Leve arredondamento das bordas do dropdown */
  padding: 16px; /* Espaçamento interno do dropdown */
  width: 200px; /* Largura do dropdown */
}

.navbar-lewagon .dropdown-menu.dropdown-menu-end {
  background-color: #1A1C15; /* Cor de fundo do dropdown */
  color: #FBFFF5; /* Cor do texto do dropdown */
  border: 2px solid #E8EDDF; /* Borda ao redor do dropdown */
  border-radius: 5px; /* Leve arredondamento das bordas do dropdown */
  padding: 16px; /* Espaçamento interno do dropdown */
  width: 200px; /* Largura do dropdown */
}

/* Garantindo que o texto dos itens do dropdown seja branco */
.navbar-lewagon .dropdown-menu.dropdown-menu-end .dropdown-item {
  color: #FBFFF5; /* Cor do texto dos itens do dropdown */
  background-color: transparent; /* Fundo transparente para o item do dropdown */
  border: none; /* Remove borda dos itens */
}

/* Remover efeito hover dos itens do dropdown */
.navbar-lewagon .dropdown-menu.dropdown-menu-end .dropdown-item:hover {
  color: #AAC86F; /* Manter cor do texto ao passar o mouse */
  background-color: transparent; /* Fundo transparente ao passar o mouse */
}

.navbar-lewagon .dropdown-menu .form-inputs input {
  margin-bottom: 10px; /* Espaçamento entre os campos do formulário */
}

.navbar-lewagon .dropdown-menu .form-actions {
  text-align: center; /* Centraliza o botão de login */
}

.navbar-lewagon .dropdown-menu .form-actions button {
  width: 20px; /* Largura total do botão */
}

/* Estilo para o dropdown de registro */
.dropdown-menu.register-dropdown {
  background-color: #1A1C15; /* Cor de fundo do dropdown */
  color: #FBFFF5; /* Cor do texto do botão de registro */
  border: 1px solid #E8EDDF; /* Borda preta ao redor do dropdown */
  border-radius: 5px; /* Leve arredondamento das bordas do dropdown */
  padding: 16px; /* Espaçamento interno do dropdown */
  width: 200px; /* Largura do dropdown */
}

.dropdown-form .form-inputs {
  margin-bottom: none; /* Espaço abaixo dos campos de entrada */
}

.dropdown-form .form-actions {
  text-align: center; /* Alinha o botão de cadastro ao centro */
}

.dropdown-form .form-control {
  margin-bottom: 10px; /* Espaço abaixo dos campos de entrada */
}

.dropdown-form .btn-submit {
  background-color: #1A1C15; /* Cor de fundo do botão de cadastro */
  color: #FBFFF5; /* Cor do texto do botão de cadastro */
  border: 1px solid #FBFFF5; /* Borda preta do botão de cadastro */
  border-radius: 5px; /* Leve arredondamento das bordas do botão de cadastro */
  padding: 8px 16px; /* Espaçamento interno do botão de cadastro */
  font-size: 15px; /* Tamanho da fonte do botão de cadastro */
  cursor: pointer; /* Muda o cursor para pointer quando passa sobre o botão */
  text-align: center; /* Alinha o texto ao centro */
}
